/*
The CSS code gets to executed from top to bottom and left ro right

Basic rules to write CSS
- write GENERAL rules first (for all the paragraph tags in the website for example) and only after that write CSS for SPECIFIC tags (for example the paragraph tags inside the footer)
- write the css styles to define for the parent (outside) container and THEN the children (inside containers) of that parent and THEN the children (inside containers) of the child above
*/

/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%; */
  /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
  box-sizing: border-box;
  /*reset Chrome user agent styles*/
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-after: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  /*reset Firefox user agent styles*/
  -moz-margin-before: 0px;
  -moz-margin-after: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-before: 0px;
  -moz-padding-after: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
  /*reset Internet Explorer user agent styles*/
  -ms-margin-before: 0px;
  -ms-margin-after: 0px;
  -ms-margin-start: 0px;
  -ms-margin-end: 0px;
  -ms-padding-before: 0px;
  -ms-padding-after: 0px;
  -ms-padding-start: 0px;
  -ms-padding-end: 0px;
  /*reset Opera user agent styles*/
  -o-margin-before: 0px;
  -o-margin-after: 0px;
  -o-margin-start: 0px;
  -o-margin-end: 0px;
  -o-padding-before: 0px;
  -o-padding-after: 0px;
  -o-padding-start: 0px;
  -o-padding-end: 0px;
}

body {
  font-family: "Spectral", serif;
  cursor: pointer;
  justify-content: center;
  font-size: 16px;
}

.App {
  text-align: center;
}

.App::before{
  content: "";
  background-image: url(hero.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 20px;
  min-height: 100vh;
}

.App-header {
  position: relative;
  color: black;
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: baseline;
  justify-content: left;
  font-family: cursive;
  font-size: 50px;
  /* display: flex;
  flex-direction: column;
  
  font-size: calc(10px + 2vmin);
  color: white; */
}

main {
  position: relative;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

h1, h2 {
  margin: 0px 10px;
  padding: 0px 10px;
}

h1 {
  color: black;
  font-size: 100%;
}

h2 {
  color: rgb(179, 29, 29);
  font-size: 70%;
}

h4 {
  font-size: 120%;
  color: #f07a03;
  margin: 10px;
}

h5 {
  font-size: 110%;
  color: #00bd00;
  margin-top: 15px;
  margin-bottom: 5px;
}

h6 {
  font-size: 110%;
  color: #a203f5;
}

.hook {
  background-color:#f20505;
  font-size: 150%;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 20px;
}

li {
  list-style: none;
}

.directions {
  display: flex;
  flex-direction: row;
  color: #020873;
}

.rules {
  width: 35%;
  margin-right: 15%;
  background-color: #f7f7f7;
  padding: 10px;
}

.in-game-rules {
  margin-top: 40px;
  background-color: #f7f7f7;
  padding: 10px;
}

.play {
  width: 35%;
  margin-left: 15%;
  background-color: #f7f7f7;
  padding: 10px;
}

button {
  border: 2px solid #020873;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #10ffff;
  font-family: "Spectral", serif;
  font-size: 200%;
}

.player-name {
  background-color:#f20505;
  font-size: 150%;
  width: 10%;
  margin-left: 20px;
}

.two {
  margin-top: 20px;
}

.playspace,
.common-space {
  display: flex;
  flex-direction: row;
  height: 22vh;
  /* margin: 10px; */
  padding: 10px;
}

.deck {
  background-image: url(pride-fist.jpeg);
  background-size: cover;
  display: flex;
  height: 95%;
  width: 100px;
  border: 1px solid black;
  margin: 10px 5px 10px 10px;
  /* padding: 85px; */
  text-align: center;
  align-items: center;
  /* font-size: 400%; */
  color: white;
  /* font-weight: bold; */
  border-radius: 10px;
  /* user-select: none; */
}

.message {
  margin: 20px;
  padding: 20px;
}

.card-slot {
  display: flex;
  height: 95%;
  border: 3px dashed hotpink;
  align-items: center;
  justify-content: center;
  width: 110px;
  margin: 10px 5px;
}

.dealer-card-slot {
  margin-right: 60px;
  border: 3px dashed blue;
}

.discard-pile {
  border: 3px dashed cyan;
}

.card {
  position: relative;
  background-color: white;
  background-size: cover;
  display: flex;
  height: 100%;
  width: 100px;
  border: 1px solid black;
  /* margin: 10px; */
  /* padding: 60px 10px ; */
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 400%;
  font-family: cursive;
  border-radius: 10px;
  user-select: none;
}

.card.red {
  color: rgb(179, 29, 29);
}

.card.black {
  color: black;
}

.card::before, 
.card::after {
  content: attr(data-value);
  position: absolute;
  font-size: 25%;
}

.card::before {
  top: 10px;
  left: 10px;

}

.card::after {
  bottom: 10px;
  right: 10px;
  transform: rotate(180deg)
}